<ion-view>
    <ion-nav-bar class="bar-stable">
        <ion-nav-title>Listar</ion-nav-title>
        <ion-nav-back-button>Voltar</ion-nav-back-button>               
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-nav-bar>

    <ion-content>
        <ion-list>
            <ion-item class="item item-button-right" ng-repeat="pessoa in pessoas">{{pessoa.nome}}
                <button class="button button-negative" ng-click="remover($index)"><i class="icon icon ion-android-delete"></i></button>
            </ion-item>
        </ion-list>
        <!--
        <div class="row">
            <button class="button button-block button-positive" ui-sref="menu.cadastro">Voltar</button>
        </div>
    -->    
    </ion-content>
    <ion-footer-bar class="bar-positive">
        <ion-toolbar>
            <div class="row;buttons">
                <button class="button" ui-sref="menu.cadastro">Voltar</button>
            </div>
        </ion-toolbar>
    </ion-footer-bar>    
</ion-view>